@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.documentation {
    display: flex !important;
    padding: 1.5rem;
    justify-content: space-between;
}

.documentation:hover {
    background-color: #E5E5E5;
}
